:root {
    --color-texto: #000000;
    --color-secundario:  #ffffff;
    --color-acento:  #dda0dc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dongle', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

main {
    position: relative;
    height: 45vh;
}

.contenedor {
    padding: 2em;
    margin: 1em 0;
    width: 70vw;
    position: absolute;
}

.c1 {
    top: 0;
    background-color: orange;
    animation: entrada .5s ease-in-out;
    animation-delay: 0;
    animation-fill-mode: both;
}

.c2 {
    top: 33%;
    background-color: palegoldenrod;
    animation: entrada .5s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.c3 {
    top: 66%;
    background-color: pink;
    animation: entrada .5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: both;
}

p {
    font-size: 18px;
}

@keyframes entrada {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}