:root {
    --color-texto: #04146c;
    --color-secundario:  #8a9af1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 62pt;
    font-weight: 900;
    color: var(--color-texto);
}

p {
    font-size: 16pt;
    color: var(--color-texto);
}

i {
    font-size: 16pt;
    color: var(--color-texto);
}

.btn {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14pt;
    font-variant: small-caps;
    text-transform: capitalize;
    color: white;
    background-color: var(--color-texto);
    border-radius: 0;
    width: 150px;
}

@media screen and (min-width: 768px) {
    img {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
}