:root {
    --color-texto: #04146c;
    --color-secundario:  #0a2ff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color: var(--color-texto);
    margin: 1.5rem 0;
    padding: 2rem;
}

.card {
    border: none;
    padding: 15px;
}

.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
}

.card-text {
    text-align: center;
}

h2 {
    font-size: 30pt;
    font-weight: 700;
    color: var(--color-secundario);
    margin-top: .5rem;
}

strong {
    font-size: 18pt;
    font-weight: 700;
    color: var(--color-texto);
}

p {
    font-size: 18pt;
    color: var(--color-texto);
}

button {
    font-family: 'Mulish', sans-serif;
    font-size: 18pt;
    color: var(--color-texto);
    background-color: white;
    border: 2px solid var(--color-secundario);
    padding: .5rem 1.5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 49pt;
    }
}

@media screen and (min-width: 992px) {
}