:root {
    --color-texto: #04146c;
    --color-secundario:  #0a2ff1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;
}

section {
    width: 1500px;
    display: flex ;
    align-items: center;
}

.texto {
    width: 30%;
    padding-left: 60px;
}

h1 {
    font-size: 48pt;
    font-weight: bold;
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.subtitulo {
    font-size: 24pt;
    font-weight: 300;
    color: var(--color-texto);
    margin-bottom: 40px;
}

.puntuacion {
    width: 45%;
    margin-bottom: 15px;
}

.calificacion {
    font-size: 12pt;
    color: var(--color-texto);
}