@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

:root {
    --color-texto: #04146c;
    --color-secundario:  #0a2ff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    width: 1000px;
}

.pretitulo {
    font-size: 30pt;
    color: var(--color-secundario);
    margin-bottom: 30px;
}

h1 {
    font-size: 60pt;
    font-weight: 900;
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.subtitulo {
    font-size: 20pt;
    color: var(--color-texto);
    margin: 20px 0;
}

button {
    width: 400px;
    height: 70px;
    font-family: 'Mulish', sans-serif;
    font-size: 22pt;
    font-weight: bold;
    background-color: var(--color-secundario);
    color: white;
    border: none;
    outline: none;
    margin: 30px 0;
}