:root {
    --color-texto: #04146c;
    --color-secundario:  #0a2ff1;
}

@font-face {
    font-family: 'Coolvetica';
    src: url(./assets/coolvetica\ rg.otf);
}

@font-face {
    font-family: 'Robotoff';
    src: url(./assets/Roboto-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
}

section {
    width: 900px;
    text-align: center;
}

h1 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 90pt;
    color: var(--color-secundario);
}

p {
    font-family: 'Robotoff', sans-serif;
    font-size: 30pt;
    font-weight: 300;
    color: var(--color-texto);
    margin: 50px 0;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
    border: 3px solid var(--color-secundario);
    background-color: white;
    width: 515px;
    margin-top: 30px;
    padding: 15px;
}

.relleno {
    background-color: var(--color-secundario);
    color: white;
}